.topbar {
  background-color: #1976D2;
}

.mat-toolbar .mat-icon-button {
  color: white;
}

.topbar dd {
  color: white;
}


.topbar {
  display: flex;
  justify-content: space-between;

}

.mat-toolbar button.mat-icon-button {
  color: white;
}


.mat-toolbar img {
  border-radius: 50%;
  object-fit: cover;
}
